<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
<!--  Start of JS connection-->
  <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
  <script src="../static/bootstrap/js/popper.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.js"></script>
<!--  End of JS connection-->
<!--  Start of CSS connection-->
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/bootstrap/css/custom.css">
<!--  End of CSS connection-->
</head>
<body>
<section class="row">
  <div class="x bg-info col-7 col-sm-5 col-md-6 col-lg-6"></div>
  <div class="x bg-warning col-5 col-sm-7 col-md-6 col-lg-6"></div>
</section>
<section class="row">
    <div class="x bg-primary col-5 col-sm-4 col-md-4 col-lg-4"></div>
    <div class="x bg-dark col-3 col-sm-2 col-md-4 col-lg-4"></div>
    <div class="x bg-secondary col-4 col-sm-6 col-md-4 col-lg-4"></div>
</section>
<section class="row">
    <div class="x bg-success col-4 col-sm-4 col-md-3 col-lg-4"></div>
    <div class="x bg-warning col-2 col-sm-3 col-md-3 col-lg-2"></div>
    <div class="x bg-danger col-4 col-sm-3 col-md-3 col-lg-3"></div>
    <div class="x bg-info col-2 col-sm-2 col-md-3 col-lg-3"></div>
</section>
</body>
</html>